# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="postgresql://postgres:password@localhost:5432/credpal?schema=public"

EXCHANGE_RATE_API_URL=https://v6.exchangerate-api.com/v6/b9091425c7f6e7d7460e479c/latest

PASSWORD_SALT=9f74a8d16e3b4c2e9db6ac1b4d5e6cfa

OTP_SECRET=T9x1TP9y2022Serv1ce


# JWT
JWT_SECRET=T9x1TP9y2022Serv1ce
JWT_EXPIRE=1d


SENDGRID_API_KEY=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
SENDGRID_FROM_EMAIL =info@rabonimusic.com