extends layout

block title 
   | CredPal

block content
  h1.page-header Welcome
  hr(style="margin: 12px 0; border: none; border-top: 1px solid rgba(0, 0, 0, 0.1)")
  p.page-text 
    | Hello there,
  div(style="margin: 1.5rem 0")
    p(style="color: rgba(0, 0, 0, 0.9);")
      | Welcome to CredPal
  div
    p.page-text 
      | Search for an apartment or lease an apartment. 
      b Trusted and verified
    p.page-text This is an automated message, please do not reply.
